extends layout

block content
  div(class='info-bar')
    p(class='previous info-text') Previously:&nbsp;
    a(id='previously3' class='info-text' href='#')
      |&lt;&lt;&lt;
    p(class='info-text') &nbsp;
    a(id='previously2' class='info-text' href='#')
      |&lt;&lt;
    p(class='info-text') &nbsp;
    a(id='previously1' class='info-text' href='#')
      |&lt;
    p(class='info-text') &nbsp;
    p(class='info-text') Currently playing: 
      a(href="#{currentVideo}" id="now-playing")
        | #{currentVideo}
    p(class='info-text') &nbsp;
    p(class='info-text')
      a(href='#' onclick='playNext()') Skip
  div(class='video')
    video(controls autoplay name="media" id="current-video")
      source(src="#{currentVideo}" type="video/webm")
    link(rel="prefetch" href="#{nextVideo}" id="next-video")
    script(src='/javascripts/playnext.js')
    
