.info-bar {
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
}

.info-group {
  display: inline;
}

.video {
  margin: 50px;
}

#current-video {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

a {
  color: #00B7FF;
}
